.header
  .header__rogo
    spot-review
  - if user_signed_in?
    = link_to destroy_user_session_path,method: :delete,class: "header__log-out" do
      ログアウト
  - else
    = link_to new_user_registratio_path,class: "header__sign-up" do
      新規登録
    = link_to new_user_session_path,class: "header__rogin" do
      ログイン
.main
  .main__content1
    .main__content1__rogo
      Ranking
    .main__content1__list
      .main__content1__list__one
        .main__content1__list__one__name
          na
        .main__content1__list__one__like
          %i.far.fa-heart
        .main__content1__list__one__image
      .main__content1__list__one
      .main__content1__list__one
      .main__content1__list__one
  .main__content2
    .main__content2__rogo
      新着レビュー
    .main__content2__list
      - @reviews.each do |review|
        .main__content2__list__one
          .main__content2__list__one__name
            = review.name
          .main__content2__list__one__image
.hooter
  = link_to users_path,class: "hooter__home" do
    %i.fa.fa-home.fa-3x
    .hooter__home__text
      ホーム
  .hooter__search
    %i.fa.fa-search.fa-3x
    .hooter__search__text
      検索
  .hooter__notification
    %i.far.fa-bell.fa-3x
    .hooter__notification__text
      通知
  = link_to new_review_path ,class: "hooter__post" do
    %i.far.fa-clipboard.fa-3x
    .hooter__post__text
      レビュー