= render partial: "header"
.main
  .main__content1
    .main__content1__rogo
      Ranking
    .main__content1__list
      .main__content1__list__one
        .main__content1__list__one__name
          na
        .main__content1__list__one__like
          %i.far.fa-heart
        .main__content1__list__one__image
      .main__content1__list__one
      .main__content1__list__one
      .main__content1__list__one
  .main__content2
    .main__content2__rogo
      新着レビュー
    .main__content2__list
      - @reviews.each do |review|
        = link_to review_path(review),class: "main__content2__list__one" do
          .main__content2__list__one__name
            = review.name
          .main__content2__list__one__like
            %i.fas.fa-heart{id: "no-click-like"}
            = review.likes.count
          .main__content2__list__one__image
            = image_tag review.images.first&.image.url,class: "main__content2__list__one__image__display"
= render partial: "footer"
