= render partial: "header"
.review-list
  .review-list__field
    .review-list__field__logo
      レビュー投稿一覧
    .review-list__field__list
      - @reviews.each do |review|
        = link_to review_path(review),class: "review-list__field__list__content" do
          .review-list__field__list__content__name
            = review.name
          .review-list__field__list__content__like
            %i.fas.fa-heart{id: "no-click-like"}
            = review.likes.count
          .review-list__field__list__content__image
            = image_tag review.images.first&.image.url,class: "review-list__field__list__content__image__display"
          .review-list__field__list__content__address
            = review.address
= render partial: "footer"