= render partial: "header"
.review-edit
  .review-show__content
    .review-show__content__name
      = @review.name
    .review-show__content__like
      - if @review.user_id == current_user.id
        .review-show__content__like__no-click
          %i.fas.fa-heart{id: "no-click-like"}
          = @review.likes.count
      - else
        - if current_user.likes.find_by(review_id: @review.id)
          %a.review-show__content__like__delete{href: "" , "data-id": @review.id}
            %i.fas.fa-heart{id: "click-like"}
            = @review.likes.count
        - else
          %a.review-show__content__like__create{href: "" , "data-id": @review.id}
            %i.far.fa-heart{id: "click-like"}
            = @review.likes.count
    .review-show__content__time
      = @review.created_at.strftime("%Y-%m-%d %H:%M")
    .review-show__content__image
    .review-show__content__text
      = @review.text
    .review-show__content__address
      = @review.address
    .review-show__content__map
      %a.show-edit__content__map__btn{href: "",data: {lat: @review.latitude,long: @review.longitude}}地図を表示
      .show-edit__content__map__box
    .review-show__content__btn
      - if @review.user_id == current_user.id
        = link_to list_reviews_path,class: "review-show__content__btn__return" do
          一覧へ戻る
        = link_to edit_review_path(@review),class: "review-show__content__btn__edit" do
          編集をする
        = link_to review_path(@review),method: :delete,class: "review-show__content__btn__edit" do
          削除する
      - else
        -# = link_to
        -# 戻るリンク
        -# ユーザーのプロフィールページへ飛ぶリンク
