.devise
  .devise__logo
    Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .devise__field
      .devise__field__label
        = f.label :nickname,"ニックネーム"
      = f.text_field :nickname, autofocus: true,class: "devise__field__form"
    .devise__field
      .devise__field__label
        = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email",class: "devise__field__form"
    .devise__field
      .devise__field__label
        = f.label :password,"パスワード"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password",class: "devise__field__form"
    .devise__field
      .devise__field__label
        = f.label :password_confirmation,"パスワード(確認)"
      = f.password_field :password_confirmation, autocomplete: "new-password",class: "devise__field__form"
    .devise__actions
      = f.submit "● Sign up ●",class: "devise__actions__btn"
  = render "users/shared/links"
